---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$brand-color: #7399c6;
$header-color: #444444;
$footer-color: #444444;
$footer-text-color: #9f9f9f;

$header-height: 45px;
$header-spacing: 10px;
$footer-height: 20px;
$footer-spacing: 5px;



html {
  /* Sticky footer */
  position: relative;
  min-height: 100%;
}

body {
  padding-top: ($header-height + $header-spacing);
  margin-bottom: ($footer-height + $footer-spacing);
}

.footer {
  /* Sticky footer */
  position: absolute;
  bottom: 0;
  width: 100%;

  /* Misc. */
  height: $footer-height;
  background-color: $footer-color;
  > .container {
    font-size: 80%;
    color: $footer-text-color;
    p {
      /* Remove margins which make the scroll appear if footer size is too small */
      margin: 0px;
      height: $footer-height;
    }
  }
}



.navbar {
  margin-bottom: $header-spacing;
}
.navbar-default {
  background-color: $header-color;
  .navbar-nav > {
    li > a, li.active > a {
      &:focus, &:hover {
        background-color: $brand-color;
      }
    }
    li.icon > a {
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }
}



.post-comments {
  margin-top: 70px;
}



.background-brand-color {
  background-color: $brand-color;
}

.brand-color {
  color: $brand-color;
}

.bold {
  font-weight: 700;
}

h1, .h1 {
  font-size: 23px;
}
h2, .h2 {
  font-size: 21px;
}
h3, .h3 {
  font-size: 19px;
}
h4, .h4 {
  font-size: 17px;
}
h5, .h5 {
  font-size: 15px;
}
h6, .h6 {
  font-size: 13px;
}
